article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary { display: block; }

button,
input { overflow: visible; }

button,
select { text-transform: none; }

button,
html [type="button"],[type="reset"],[type="submit"]
{
  -webkit-appearance: button
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner
{
  border-style: none;
  padding: 0;
}

button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring
{
  outline: 1px dotted ButtonText
}

textarea
{
  overflow: auto
}

input
{
  &[type="checkbox"],[type="radio"]
  {
    box-sizing: border-box;
    padding: 0;
  }
  &[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button
  {
    height: auto
  }
  &[type="search"]
  {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  &[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration
  {
    -webkit-appearance: none;
  }
  &::-webkit-input-placeholder
  {
    color: inherit;
    opacity: 0.54;
  }
  &::-webkit-file-upload-button
  {
    -webkit-appearance: button;
    font: inherit;
  }
}

ul, li { list-style: none }

a { text-decoration: none; }

/* Proxima Nova Bold */
@font-face {
  font-family: 'ProximaNovaBold';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/ProximaNovaBold.eot'); /* IE9 Compat Modes */
  src: local('ProximaNovaBold'), local('ProximaNovaBold'),
  url('/fonts/ProximaNovaBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/ProximaNovaBold.woff') format('woff'), /* Modern Browsers */
  url('/fonts/ProximaNovaBold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg'); /* Legacy iOS */
}

/* ProximaNova Black */
@font-face {
  font-family: 'ProximaNovaBlack';
  font-style: normal;
  src: url('/fonts/ProximaNovaBlack.eot'); /* IE9 Compat Modes */
  src: local('ProximaNovaBlack'), local('ProximaNovaBold'),
  url('/fonts/ProximaNovaBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/ProximaNovaBlack.woff') format('woff'), /* Modern Browsers */
  url('/fonts/ProximaNovaBlack.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/ProximaNovaBlack.svg#ProximaNovaBlack') format('svg'); /* Legacy iOS */
}

/* ProximaNova Regular */
@font-face {
  font-family: 'ProximaNovaRegular';
  font-style: normal;
  src: url('/fonts/ProximaNovaRegular.eot'); /* IE9 Compat Modes */
  src: local('ProximaNovaRegular'), local('ProximaNovaBold'),
  url('/fonts/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/ProximaNovaRegular.woff') format('woff'), /* Modern Browsers */
  url('/fonts/ProximaNovaRegular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg'); /* Legacy iOS */
}

/* ProximaNova Light */
@font-face {
  font-family: 'ProximaNovaLight';
  font-style: normal;
  src: url('/fonts/ProximaNovaRegular.eot'); /* IE9 Compat Modes */
  src: local('ProximaNovaLight'), local('ProximaNovaBold'),
  url('/fonts/ProximaNovaLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/ProximaNovaLight.woff') format('woff'), /* Modern Browsers */
  url('/fonts/ProximaNovaLight.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/ProximaNovaLight.svg#ProximaNovaLight') format('svg'); /* Legacy iOS */
}

/* ProximaNova ExtraBold*/
@font-face {
  font-family: 'ProximaNovaExtrabold';
  font-style: normal;
  src: url('/fonts/ProximaNovaExtrabold.eot'); /* IE9 Compat Modes */
  src: local('ProximaNovaExtrabold'), local('ProximaNovaBold'),
  url('/fonts/ProximaNovaExtrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/ProximaNovaExtrabold.woff') format('woff'), /* Modern Browsers */
  url('/fonts/ProximaNovaExtrabold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/ProximaNovaExtrabold.svg#ProximaNovaExtrabold') format('svg'); /* Legacy iOS */
}

/* DidactGothicRegular*/
@font-face {
  font-family: 'DidactGothicRegular';
  font-style: normal;
  src: url('/fonts/DidactGothicRegular.eot'); /* IE9 Compat Modes */
  src: local('DidactGothicRegular'), local('DidactGothicRegular'),
  url('/fonts/DidactGothicRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/DidactGothicRegular.woff') format('woff'), /* Modern Browsers */
  url('/fonts/DidactGothicRegular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/DidactGothicRegular.svg#DidactGothicRegular') format('svg'); /* Legacy iOS */
}

img { border: none; }
@white-light: #cacaca;

@text: #8b8b8b;
@text-black: #242424;
@text-black-title: #010101;
@text-brown: #d39c4a;
@input-bg: #E6E6E6;
@input-gray-bg: #464646;
@white-icon: #fefefe;
@img-border: #D3D4D6;
@resto-bg: #181818;
@title-page: #313030;
@gray-light: #595959;

@calc-bg: #292929;

@select-border: #555555;
@select-bg: #393939;
@select-color: #8f8f8f;

@footer-bg: #313131;

@authors-color: #2381C1;

*
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  line-height: 1;
  font-size: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-family: 'ProximaNovaRegular', sans-serif;
  font-weight: 400;
  background: #ffffff;
}

.float { zoom: 1;
        &:after { content: ''; display: table; clear: both; }
        &-left { float: left; }
        &-right { float: right; }
}

.body {
       &-page { background: #000000; }
       &-resto { background: @resto-bg; }
}

.main { min-width: 320px; margin: 0 auto; overflow: hidden; }

.container { max-width: 1480px; margin: 0 auto; padding: 0 20px; }

.logo { display: block;
      &-b { float: left; padding: 5px 0 0;
           &--restobar { padding: 0; margin: -30px 0 0; }
      }
}

.block-link { position: relative; background: transparent; cursor: pointer; display: inline-block; padding: 0 68px; border: 2px solid @text-brown; line-height: 56px; font-size: 14px; font-family: 'ProximaNovaBold', sans-serif; color: @text-black; text-transform: uppercase;
              -webkit-transition: all 0.4s;
              -moz-transition: all 0.4s;
              -ms-transition: all 0.4s;
              -o-transition: all 0.4s;
              transition: all 0.4s;
            &:hover { background: @text-brown; }
            &--white { border-color: #ffffff; color: #ffffff; background: transparent;
                    &:hover { background: #FFFFFF; color: @text-black; }
            }
}

.title { font-size: 60px; text-transform: uppercase; color: @text; margin-bottom: 80px; font-family: 'ProximaNovaBold', sans-serif;
        &--page { font-size: 100px; color: @title-page; }
}

.header { padding: 80px 0 140px;
        &__contacts { text-transform: uppercase; float: right; font-size: 18px; color: #ffffff; text-align: right;
                    &-text { margin-bottom: 10px;  }
                    &-link { display: inline-block; color: #ffffff; margin-left: 10px; }
        }
}

.input { background: url("/img/input-bg.png") no-repeat @input-bg; height: 56px; display: block; width: 100%; border: none; outline: none; color: @text; font-size: 18px; font-family: 'ProximaNovaBold', sans-serif; padding: 0 10px 0 75px;
         -webkit-border-radius:3px;
         -moz-border-radius:3px;
         border-radius:3px;
         &--white { background: url("/img/input-bg-white.png") no-repeat @input-gray-bg; color: #ffffff; }
         &-b { margin: 40px 0 0;
              &:first-child { margin: 0; }
         }
         &--half { width: 100%*(312/652); float: right;
                  &:first-child { float: left; }
         }
         &--mail { background-position:  0 0; }
         &--phone { background-position: 0 -48px; }
         &--name { background-position: 0 -101px; }
         &-list { margin-bottom: 50px; }
}

.textarea { color: @text; background: url("/img/input-bg.png") 0 -150px @input-bg no-repeat; padding: 15px 15px 15px 75px; text-align: left; width: 100%; min-height: 180px; display: block; border: none; outline: none; font-size: 18px; font-family: 'ProximaNovaBold', sans-serif;
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            border-radius:3px;
            &--white {  background: url("/img/input-bg-white.png") 0 -150px @input-gray-bg no-repeat; color: #ffffff; }
}

.menu {
      &-b { font-size: 0; padding: 10px 0 0; display: inline-block; }
      &__item { display: inline-block; margin: 0 0 0 100px; position: relative; z-index: 1; padding: 0 0 15px;
              &:first-child { margin: 0; }
              &:hover {
                      .menu {
                             &-sub { display: block; opacity: 1; top: 35px; }
                             &__link { border-bottom: 1px solid #ffffff; padding: 0 0 2px; }
                      }
              }
      }
      &__link { font-size: 24px; color: #ffffff; text-transform: uppercase; position: relative; }
      &-sub { min-width: 215px; z-index: -1; position: absolute; left: -20px; opacity: 0; top: 60px; background: #ffffff; padding: 20px 0 15px;
              -webkit-transition: all 0.6s;
              -moz-transition: all 0.6s;
              -ms-transition: all 0.6s;
              -o-transition: all 0.6s;
              transition: all 0.6s;
              &__item { line-height: 1.2; text-align: left; margin-bottom: 5px; position: relative; padding: 0 20px;
                      &:after { content: ''; position: absolute; height: 2px; width: 0; background: #000000; bottom: 7px; left: 0;
                        -webkit-transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        -ms-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s; }
                      &:hover {
                              .menu-sub {
                                  &__link { font-family: 'ProximaNovaBold', sans-serif; }
                              }
                              &:after { width: 15px; }
                      }
              }
              &__link { display: block; position: relative; white-space: nowrap; color: #000000; text-transform: uppercase; font-size: 20px; }
      }
}

#canvas { height: 150px; position: absolute; width: 100%; left: 0; right: 0; bottom: 0; }

.form {
      &-b { text-align: left; }
      &__left { float: left; width: 100%*(655/1440); }
      &__right { float: right; width: 100%*(655/1440);
                &--page {
                        .form {
                              &__item {
                                       &-title { color: #ffffff; }
                              }
                        }
                }
      }
      &__title { font-size: 18px; font-family: 'ProximaNovaBold', sans-serif; color: @text; text-transform: uppercase;
                &-b { height: 50px; }
      }
      &__item { padding: 0 0 55px;
              &-title { margin-bottom: 10px; line-height: 1.4; color: @text-black-title; font-size: 16px; text-transform: uppercase; }
              &-text { font-size: 24px; color: @text; line-height: 1.4; }
              &-link { font-size: 24px; color: @text; line-height: 1.4; }
      }
}

.top-block { background: url("/img/top-block-bg.png") 50% 50% no-repeat; background-size: cover; height: 1080px;
             &__content { padding: 30px 0 0; text-align: left; position: relative; z-index: 1; }
             &__title { margin-bottom: 40px; line-height: 1.2; text-transform: uppercase; font-size: 60px; font-family: 'ProximaNovaBold', sans-serif; color: #ffffff;
                      &-main { margin: 20px 0 0; display: block; font-family: 'ProximaNovaExtrabold', sans-serif; font-size: 80px; color: @text-brown; }
             }
             &__text { color: @text; line-height: 1.2; max-width: 605px; margin-bottom: 60px; }
             &-in { overflow: hidden; position: relative; height: 100%; max-width: 1920px; margin: 0 auto; }
             &-bg { position: absolute; width: 55%; right: 0; bottom: 0;
                  &-img {  }
             }
}

.restobar {
      &-top { height: 860px; margin-bottom: 60px; background: url("/img/resto-bg.png") 50% 50% no-repeat; background-size: cover; position: relative; }
      &-menu { font-size: 0; text-align: center;
            &__item { position: relative; margin-bottom: 80px; text-align: left; width: 294px; height: 350px; border-top: 3px solid @text-brown; border-right: 3px solid @text-brown; padding: 35px 35px 38px 38px;
                    &:before { position: absolute; display: block; content: ''; left: 0; top: 0; width: 3px; height: 100%; background: @text-brown; z-index: 2; }
                    &:after { position: absolute; display: block; content: ''; bottom: 0; left: 0; width: 100%; height: 3px; background: @text-brown; z-index: 0; }
                    &--bar {
                            &:before { z-index: 0; }
                    }
                    &-img { position: absolute; z-index: 1; display: block;
                          &--bar { width: 100%; right: 13%; top: 26%; }
                          &--kithcen { width: 106%; right: 4%; top: 28%; }
                    }
                    &-title { font-family: 'ProximaNovaExtrabold', sans-serif; font-size: 47px; color: #ffffff; text-transform: uppercase; }
                    &-b { display: inline-block; margin: 0 35px; }
                    &-link { position: absolute; left: 0; right: 0; bottom: 0; top: 0; cursor: pointer; display: block; }
            }
      }
}

.services { padding: 150px 0 70px; margin-bottom: 100px;
          &__title { font-family: 'ProximaNovaExtrabold', sans-serif; font-size: 70px; color: @text-brown; margin-bottom: 45px; }
          &__text { color: @text; line-height: 1.2; padding: 0 0 0 25px; margin-bottom: 60px;
                  &-b { float: right; width: 100%*(628/1440); text-align: right; padding: 60px 0 0; }
          }
          &__img { width: 100%; height: auto; display: block;
                  &--opacity { opacity: 0; }
                  &--1 {
                        &.animated { background: url("/img/paintball-gif-price.gif") 50% 50% no-repeat; }
                  }
                  &--2 {
                        &.animated { background: url("/img/paintball-gif-people.gif") 50% 50% no-repeat; }
                  }
                  &--3 {
                        &.animated { background: url("/img/paintball-gif-kids.gif") 50% 50% no-repeat; }
                  }
                  &-title { position: absolute; left: 0; width: 100%; top: 10%; }
                  &-b { width: 100%*(812/1440); float: left; border-right: 1px solid @img-border; position: relative; line-height: 0; }
                  &-content { display: block; position: absolute;
                            &--oil { bottom: -40%; width: 100%*(375/595); left: 100%*(95/595); }
                            &--bath { bottom: -18%; left: 100%*(96/817); width: 100%*(720/817); }
                            &--paintball { bottom: -10%; left: 100%*(68/817); width: 100%*(560/817); }
                            &--wash { bottom: -9%; left: 100%*(50/817); width: 100%*(770/817); }
                  }
          }
          &__item { padding-top: 260px;
                  &:first-child { padding-top: 0; }
                  &--right {
                            .services {
                                      &__img-b { float: right; border-right: none; border-left: 1px solid @img-border; }
                                      &__text { padding: 0 25px 0 0;
                                               &-b { float: left; text-align: left; }
                                      }
                            }
                  }
          }
          &-type {
                  &__slider { position: relative; padding: 80px 0 0;
                            &-item { width: 100%; float: left; position: relative; outline: none;
                                  &__img { width: 100%*(280/360); display: block; position: relative; left: 15%;
                                          &-b { width: 50%; float: left; }
                                  }
                                  &__text { font-size: 20px; color: @text; line-height: 1.1; width: 75%;
                                          &-b { width: 50%; float: left; text-align: left; padding: 30px 0 0; position: relative; }
                                  }
                                  &__title { font-family: 'ProximaNovaBold', sans-serif; font-size: 24px; color: @text-brown; text-transform: uppercase; margin: 0 0 18px -15%; }
                            }
                            .slick-dots { position: absolute; top: 0; display: inline-block; left: 0; right: 0; text-align: center;
                                        li { padding: 0 0 3px; cursor: pointer; display: inline-block; margin: 0 10px; font-size: 18px; color: @text;
                                          -webkit-transition: all 0.4s;
                                          -moz-transition: all 0.4s;
                                          -ms-transition: all 0.4s;
                                          -o-transition: all 0.4s;
                                          transition: all 0.4s;
                                           &.slick-active { color: #ffffff; border-bottom: 1px solid #ffffff; }
                                        }
                            }
                            &-arrow { z-index: 1000; position: absolute; cursor: pointer; right: 0; bottom: 0;
                                    &-icon { width: 15px; height: 10px; display: block; float: left; margin: 3px 0 0 4px; }
                                    &-text { color: #ffffff; font-size: 16px; display: inline-block; float: left; }
                            }
                  }
          }
}

.paintball {
            &-top { height: 1080px;
                  &-in { height: 100%; width: 100%; max-width: 1920px; margin: 0 auto; position: relative; }
                  &__title { margin-bottom: 40px; line-height: 1.25; font-size: 80px; color: #ffffff; text-transform: uppercase; font-family: 'ProximaNovaBold', sans-serif; }
                  &__img { width: 100%; height: auto; position: absolute; left: 0; right: 0; z-index: -1; }
            }
            &-service {
                       &__item { width: 100%; text-align: left; position: relative; padding: 70px 0 150px;
                                 -webkit-transition: background-image 0.6s;
                                 -moz-transition: background-image 0.6s;
                                 -ms-transition: background-image 0.6s;
                                 -o-transition: background-image 0.6s;
                                 transition: background-image 0.6s;
                                &--right { text-align: right;
                                          .paintball-service__bg { right: auto; left: 0; }
                                }
                       }
                       &__title { line-height: 1.2; font-family: 'ProximaNovaBold', sans-serif; color: #ffffff; text-transform: uppercase; font-size: 60px;
                                &-text { margin-top: 15px; font-size: 24px; color: @text-brown; display: block; text-transform: uppercase; }
                       }
                       &__text { margin: 37px 0 50px; color: @white-light; font-family: 'ProximaNovaLight', sans-serif; line-height: 1.2;
                                &-b { position: relative; z-index: 1; }
                       }
                       &__bg { position: absolute; right: 0; top: 0;
                              &-img { width: 100%; height: auto; display: block; }
                              &--price { width: 100%*(520/720); }
                              &--people { width: 100%*(635/960); }
                              &--kids { width: 100%*(730/960); }
                       }
            }
}

.about {
        &-slider { position: relative; padding: 0 0 45px; margin-bottom: 80px;
                  &__item { outline: none; width: 100%; position: relative; float: left;
                          .paintball-service__text { font-size: 16px;
                                  &-b { text-align: left; position: absolute; left: 0; bottom: 0; z-index: 1; }
                          }
                  }
                  &__img { display: block; position: relative; width: 100%*(567/960); left: 100%*(247/960); }
                  .slick-dots { position: absolute; left: 0; right: 0; bottom: 0;
                              li { outline: none; cursor: pointer; display: inline-block; width: 36px; height: 2px; background: @gray-light; vertical-align: top; margin: 0 10px;
                                  button { display: none; }
                                  &.slick-active { background: @text-brown; }
                              }
                  }
                  &__arrow { display: block; position: absolute; z-index: 1000; cursor: pointer; right: 0;
                            &--next { bottom: 45px; }
                            &--prev { bottom: 90px; }
                            &-text { font-size: 16px; display: inline-block; float: left; color: #ffffff; text-transform: uppercase; margin: 0 10px 0 0; }
                            &-icon { width: 15px; height: 10px; display: block; float: left; margin: 3px 0 0 0; }
                  }
        }
}

.bathhouse {
          &-top { height: 1080px; background: url("/img/bathhouse-top-bg.jpg") 50% 50% no-repeat; background-size: cover;
                 &__content { text-align: left; margin: 130px 0 0; }
                 &__title { font-family: 'ProximaNovaLight', sans-serif; font-size: 40px; color: @white-light; line-height: 1.2; font-weight: 300; margin-bottom: 40px; }
          }
}

.carwash {
        &-top { height: 1080px; background: #000000;
              &-in { max-width: 1920px; margin: 0 auto; position: relative; }
              &__content { text-align: right; margin: 130px 0 0; position: relative; z-index: 1; }
              &__title { font-family: 'ProximaNovaLight', sans-serif; font-size: 40px; color: @white-light; line-height: 1.2; font-weight: 300; margin-bottom: 40px; }
              &__bg { position: absolute; left: 0; top: 0; width: 75%;
                    &-img { display: block; width: 100%; position: relative; z-index: 1; }
                    &-title { visibility: hidden; position: absolute; left: 18%; top: 27%; color: #ffffff; font-family: 'ProximaNovaExtrabold', sans-serif; font-size: 116px; }
              }
        }
}

.interior { margin-bottom: 100px;
          &__slider { position: relative; padding: 0 10% 80px;
                    &-item { width: 100%; float: left; }
                    .slick-dots { position: absolute; left: 0; right: 0; bottom: 0;
                          li { outline: none; cursor: pointer; display: inline-block; width: 36px; height: 2px; background: @gray-light; vertical-align: top; margin: 0 10px;
                            button { display: none; }
                            &.slick-active { background: @text-brown; }
                          }
                    }
                    &-current { font-size: 36px; font-family: 'ProximaNovaLight', sans-serif; color: @text-brown; display: inline-block; margin: 0 0 0 5px; }
                    &-count { font-size: 36px; font-family: 'ProximaNovaLight', sans-serif; color: #ffffff; display: inline-block; margin: 0 5px 0 0; }
                    &-arrow { display: inline-block; width: 27px; height: 15px;
                            &-b { position: absolute; top: -120px; cursor: pointer; }
                            &--next { right: 0; }
                            &--prev { right: 67px; }
                            &-transform { -webkit-transform: rotateY(180deg);
                              -moz-transform: rotateY(180deg);
                              -ms-transform: rotateY(180deg);
                              -o-transform: rotateY(180deg);
                              transform: rotateY(180deg); }

                    }
          }
          &-left { width: 50%; padding: 0 12px 0 0; float: left;
                  &-top { position: relative; height: 500px; width: 100%; background-position: 50% 50%; background-size: cover; background-repeat: no-repeat;  }
                  &-bottom { position: relative; height: 500px; width: 100%; margin: 24px 0 0; background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; }
          }
          &-right { width: 50%; padding: 0 0 0 12px; float: left;
                  &-top { position: relative; height: 400px; width: 100%; background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; }
                  &-bottom { position: relative; height: 600px; width: 100%; margin: 24px 0 0; background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; }
          }
}

.absolute-link { position: absolute; left: 0; right: 0; bottom: 0; top: 0;
               &:hover { background: rgba(0,0,0,0.4);
                      &:before { position: absolute; content: ''; left: 5%; right: 5%; top: 5%; bottom: 5%; border: 10px solid @text-brown; }
                      &:after { position: absolute; content: '+'; left: 50%; top: 50%; margin: -20px 0 0 -20px; color: @text-brown; font-family: 'ProximaNovaRegular', sans-serif; font-size: 44px; }
               }
}

.discount { margin-bottom: 100px;
          &__slider { position: relative; padding: 64px 0 0;
                    &-item { width: 100%; float: left; position: relative; outline: none; }
                    &-title { text-transform: uppercase; font-size: 60px; font-family: 'ProximaNovaBold', sans-serif; color: #ffffff; }
                    &-text { font-size: 16px; color: @text; line-height: 1.2; margin: 50px 0 90px;
                            &-b { position: absolute; bottom: 0; left: 0; text-align: left; z-index: 1; }
                    }
                    &-border {
                              &-b { width: 100%*(400/720); float: right; height: 466px; border: 2px solid @text-brown; position: relative;
                                  &:after { content: ''; position: absolute; width: 2px; top: 10%; bottom: 10%; background: @resto-bg; left: -2px; }
                              }
                    }
                    .slick-dots { text-align: left; font-size: 0; position: absolute; left: 0; top: 0; height: 64px; border-left: 2px solid @text-brown; padding: 23px 0 0 20px;
                                 li { cursor: pointer; display: inline-block; margin: 0 0 0 30px; font-size: 18px; color: @text-brown; text-transform: uppercase;
                                     &:first-child { margin: 0; }
                                     &.slick-active { color: #ffffff; }
                                 }
                    }
                    &-img { position: absolute; display: block;
                          &--drink { width: 60%; right: 20%; top: 15%; }
                          &--burger { width: 80%; right: 10%; bottom: 0; }
                          &--beer { width: 50%; top: -15%; left: 25%; }
                    }
          }
}

.reviews { margin-bottom: 80px;
          &-list { width: 100%;
                  &__item { border-bottom: 5px solid @calc-bg; width: 100%*(220/720); float: left; background: @calc-bg; margin: 0 0 0 100%*(30/720); position: relative;
                          &-img { display: block; width: 100%; height: auto; }
                          &-text { line-height: 1.1; color: @text; font-size: 16px; font-family: 'ProximaNovaLight', sans-serif; text-align: left;
                                &-b { position: relative; padding: 58px 28px; min-height: 240px; }
                          }
                          &-author { width: 80px; height: 80px; overflow: hidden; border: 5px solid #FFFFFF; position: absolute; left: 50%; margin-left: -40px; top: -40px;
                                    -webkit-border-radius:50%;
                                    -moz-border-radius:50%;
                                    border-radius:50%;
                          }
                          &-next { position: absolute; right: 20px; bottom: 20px; font-size: 16px; color: #ffffff;
                                  &-icon { float: right; margin: 0 0 0 5px; width: 27px; height: 15px; display: inline-block; }
                          }
                          &:hover { border-bottom-color: @text-brown;
                                  .reviews-list__item-next { color: @text-brown;
                                                &-icon {
                                                        line, polyline { stroke: @text-brown; }
                                                }
                                  }
                          }
                          &:first-child { margin: 0; }
                  }
          }
}

.page-content { padding: 150px 0 0;
              &--padding { padding: 0; }
              &__title { margin-bottom: 60px; font-weight: 400; font-size: 30px; color: #ffffff; text-transform: uppercase; padding-bottom: 45px; position: relative;
                       &:after { position: absolute; content: ''; height: 4px; width: 132px; background: @text-brown; bottom: 0; left: 50%; margin-left: -61px; }
              }
              &__item { margin-bottom: 230px;
                      &--calc { background: @calc-bg; padding: 102px 0 130px; margin-bottom: 93px; }
                      &-info { margin-top: 80px; text-align: center;
                            &-item { color: @white-light; font-family: 'ProximaNovaLight', sans-serif; font-size: 16px; line-height: 1.3; }
                      }
              }
              &__day { height: 421px; width: 50%; float: left; position: relative; text-align: left;
                      &-b { width: 100%; margin: 130px 0 0; }
                      &-img  { display: block; position: relative; width: 314px; height: 421px; }
                      &-text-b { position: absolute; left: 33.3333%; top: 15%; }
                      &-title { font-size: 48px; font-family: 'ProximaNovaBold', sans-serif; color: #ffffff; text-transform: uppercase; }
                      &-list { padding: 45px 0 0 120px; position: relative;
                             &__item { font-family: 'ProximaNovaLight', sans-serif; font-size: 24px; color: @white-light; line-height: 1.3;

                             }
                      }
              }
              &__service { width: 328px; display: inline-block;
                          &-b { width: 100%; text-align: center; margin: 102px 0 0; }
                          &-img { display: block; margin-bottom: 35px; }
                          &-title { line-height: 1.2; font-family: 'ProximaNovaBold', sans-serif; color: #ffffff; font-size: 30px; text-transform: uppercase; margin-bottom: 35px; }
                          &-text { font-size: 16px; font-family: 'ProximaNovaLight', sans-serif; color: @white-light; line-height: 1.2; }
              }
              &__steam { position: relative; padding: 0 50px 0 0;
                        &-b { width: 100%; margin: 78px 0 0; }
                        &-title { font-size: 36px; letter-spacing: 1px; color: #ffffff; text-transform: uppercase; font-family: 'ProximaNovaBold', sans-serif; position: absolute; right: 0; bottom: 15%; }
                        &-img { display: block; }
              }
              &__reason { width: 50%; display: inline-block; font-size: 18px; vertical-align: top;
                        &--block { width: 100%; }
                        &-b { text-align: center; font-size: 0; margin: 100px 0 0; }
                        &-title { letter-spacing: 1px; font-family: 'ProximaNovaBold', sans-serif; color: #ffffff; text-transform: uppercase; margin-bottom: 15px; }
                        &-text { margin: 0 auto; max-width: 360px; color: @white-icon; line-height: 1.4; letter-spacing: 1px; }
                        &-img { display: inline-block;
                                &-b { height: 79px; margin-bottom: 20px; }
                                &--tech  { width: 49px; height: 79px; margin: 0 auto; }
                                &--rainbow { width: 89px; height: 43px; margin: 36px auto 0; }
                                &--medical { width: 67px; height: 67px; margin: 12px auto 0; }
                                &--sauna { width: 43px; height: 66px; margin: 11px auto 0; }
                                &--personal { width: 52px; height: 67px; margin: 12px auto 0; }
                                &--carwash { width: 64px; height: 72px; margin: 5px auto 0; }
                                &--clean { width: 66px; height: 66px; margin: 13px auto 0; }
                                &--time { width: 72px; height: 72px; margin: 5px auto 0; }
                                &--price { width: 64px; height: 64px; margin: 15px auto 0; }
                        }
              }
              &__about {
                        &-text { font-size: 24px; color: @white-light; line-height: 1.3; text-align: left; }
                        &-list { text-align: left;
                                &-item { font-size: 24px; color: @white-light; line-height: 1.3; }
                        }
              }
              &__calc-result { font-size: 28px; display: inline-block; font-family: 'ProximaNovaBold', sans-serif;
                              &-b { padding: 40px 0 0; color: #ffffff; font-size: 20px; text-transform: uppercase; display: none; }
              }
}

.select { outline: none; min-width: 240px; height: 58px; border: 2px solid @select-border; background: @select-bg; padding: 0 50px 0 12px; color: @select-color; font-size: 16px; font-family: 'ProximaNovaLight', sans-serif; letter-spacing: 1px; background: url("/img/select-arrow.svg") right 15px center no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &-b { text-align: left; }
        &-list { max-width: 770px; margin: 0 auto 50px; }
        &__title { font-size: 18px; font-family: 'ProximaNovaBold', sans-serif; color: #ffffff; margin-bottom: 10px; }
}

.text {
      &-brown { color: @text-brown; }
}

.contacts { padding: 100px 0 150px; }

.footer { height: 150px; padding: 50px 0 0; background: @text; font-family: 'DidactGothicRegular', sans-serif;
         &--page { background: @footer-bg; }
         &__contacts { font-size: 17px; line-height: 1.1; float: left; color: #ffffff; text-align: left; padding: 7px 0 0;
                      &-link { display: inline-block; color: #ffffff; }
         }
}

.authors {
          &-link { display: block; }
          &-b { float: right;
              &:hover {
                      .authors {
                            &-text { text-decoration: underline; }
                            &-logo { path { fill: @authors-color; } }
                      }
              }
          }
          &-text { text-align: right; display: block; float: left; height: 50px; border-right: 1px solid #ffffff; padding: 6px 10px 6px 0; line-height: 1.3; font-size: 15px; color:#ffffff; text-transform: uppercase; }
          &-logo { margin: 9px 0 0 10px; display: inline-block;
                  path {
                    -webkit-transition: all 0s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s; }
          }
}

.overlay { background: #ffffff; padding: 80px 60px 60px; position: relative; display: inline-block; text-align: right;
          -webkit-border-radius:5px;
          -moz-border-radius:5px;
          border-radius:5px;
          &--menu { background: @select-bg; padding: 50px 70px;
                    -webkit-border-radius:0;
                    -moz-border-radius:0;
                    border-radius:0;
          }
          .form__title-b { text-align: left; }
          &-b { background: rgba(0,0,0,0.6); z-index: 10000; display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; min-height: 100%; padding: 50px 0 20px; overflow-y: scroll; overflow-x: hidden; }
          &-close { width: 37px; height: 37px; display: block; position: absolute; right: 15px; top: 15px; cursor: pointer;
                  &--menu { width: 20px; height: 20px; }
                  &-icon { width: 100%; height: 100%; display: block; }
          }
}

.burger { display: none;
        &-icon { width: 34px; height: 28px; display: block; }
        &-close { display: none; }
}

.no-desktop { display: none; }

.error-phone { background-color: #ef9d9d; color: #ffffff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.fixed-link { position: fixed; right: 0; top: 30%; padding: 10px 15px; background: @text-brown; z-index: 1000; font-size: 0;
          &-icon { display: inline-block; width: 18px; height: 18px; vertical-align: top; }
          &-text { display: inline-block; font-size: 0; color: #ffffff; margin-left: 0; vertical-align: top; line-height: 18px;
            -webkit-transition: all 0.6s;
            -moz-transition: all 0.6s;
            -ms-transition: all 0.6s;
            -o-transition: all 0.6s;
            transition: all 0.6s; }
          &:hover {
                .fixed-link-text { font-size: 16px; margin-left: 10px; }
          }
}

@media screen and (min-width: 1920px){
      .top-block {
                  &-in { background-position: 160% 100%; }
      }
}

@media screen and (max-width: 1600px){
      body { font-size: 18px; }
      .container { max-width: 1280px; }
      .header { padding: 60px 0 120px;
              &__contacts { font-size: 18px; }
      }
      .title { font-size: 50px; margin-bottom: 50px; }
      .menu {
             &__link { font-size: 18px; }
      }
      .bathhouse {
              &-top { height: 960px; }
      }
      .services { padding: 80px 0 40px;
                 &__title { font-size: 58px; }
                 &__item { padding-top: 140px;
                          &:first-child { padding-top: 0; }
                 }
      }
      .top-block { height: 950px;
                  &-in { background-position: 400% 260%; }
                  &__title { font-size: 50px;
                          &-main { font-size: 60px; }
                  }
                  &-bg { top: 15%; }
      }
      .carwash {
                &-top { height: 960px;
                        &__title { font-size: 30px; }
                        &__bg {
                              &-title { font-size: 92px; }
                        }
                }
      }
      .paintball {
                  &-top { height: 800px;
                        &__title { font-size: 60px; line-height: 1.2; }
                  }
      }
      .footer {
              &__contacts { line-height: 1.2; font-size: 16px; }
      }
}

@media screen and (max-width: 1500px){
      .title { margin-bottom: 40px; font-size: 46px; }
      .block-link { font-size: 12px; padding: 0 40px; line-height: 40px; }
      .container { max-width: 1180px; }
      .header { padding: 50px 0 120px;
              &__contacts { font-size: 16px; }
      }
      .authors {
          &-text { padding: 8px 10px 8px 0; font-size: 14px; }
      }
      .menu {
              &-sub {
                    &__link { font-size: 16px; }
              }
              &__link { font-size: 16px; }
      }
      .top-block { height: 820px;
                  &__tilte { font-size: 46px; margin-bottom: 30px;
                            &-main { font-size: 54px; }
                  }
                  &__text { max-width: 520px; }
      }
      .restobar {
              &-top { height: 750px; }
              &-menu {
                      &__item { width: 270px; height: 320px; padding: 28px 28px 31px 31px; margin-bottom: 60px;
                              &-b { margin: 0 30px; }
                              &-title { font-size: 42px; }
                      }
              }
      }
      .bathhouse {
            &-top { height: 800px;
                  &__title { font-size: 28px; line-height: 1.1; }
            }
      }
      .paintball {
              &-top {
                    &__title { font-size: 48px; }
              }
              &-service {
                      &__title { font-size: 48px;
                              &-text { font-size: 20px; margin-top: 10px; }
                      }
                      &__text { font-size: 14px !important; margin: 30px 0 40px; }
              }
      }
      .contacts { padding: 60px 0; }
      .carwash {
            &-top { height: 740px;
                &__title { font-size: 24px; }
                &__bg {
                      &-title { font-size: 80px; }
                }
            }
      }
      .page-content { padding: 80px 0 0;
                    &__item { margin-bottom: 80px;
                            &--calc { padding: 80px 0; margin-bottom: 80px; }
                            &-info { margin-top: 50px;
                                  &-item { font-size: 15px; }
                            }
                    }
                    &--padding { padding: 0; }
                    &__title { font-size: 24px; padding-bottom: 25px; margin-bottom: 35px;
                              &:after { height: 3px; }
                    }
                    &__calc-result {
                              &-b { font-size: 18px; padding: 30px 0 0; }
                    }
                    &__reason { font-size: 16px;
                            &-b { margin-top: 80px; }
                            &-text { max-width: 300px; line-height: 1.3; }
                            &-title { margin-bottom: 10px; }
                    }
                    &__about {
                            &-text { font-size: 20px; }
                            &-list {
                                  &-item { font-size: 20px; }
                            }
                    }
                    &__day { height: 310px;
                        &-b { margin: 50px 0 0; }
                        &-title { font-size: 36px; }
                        &-img { width: 40%; height: auto; }
                        &-list { padding: 30px 0 0 70px;
                            &__item { font-size: 18px; }
                        }
                    }
                    &__service { width: 28%;
                            &-b { margin-top: 60px; }
                            &-img { width: 100%; margin-bottom: 25px; }
                            &-title { font-size: 24px; margin-bottom: 20px; }
                            &-text { font-size: 14px; }
                    }
                    &__steam { width: 45%; padding: 0;
                            &-img { width: 80%; }
                            &-title { font-size: 26px; }
                    }
      }
      .services {
              &-type {
                    &__slider { padding: 60px 0 0;
                            .slick-dots {
                                  li { font-size: 16px; }
                            }
                            &-item {
                                  &__title { font-size: 20px; }
                                  &__text { font-size: 18px; }
                            }
                    }
              }
              &__title { font-size: 52px; margin-bottom: 30px; }
              &__item { padding-top: 115px;
                       &:first-child { padding-top: 0; }
              }
      }
      .interior { margin-bottom: 60px;
                &-left {
                    &-top { height: 350px; }
                    &-bottom { height: 350px; }
                }
                &-right {
                    &-top { height: 250px; }
                    &-bottom { height: 450px; }
                }
                &__slider {
                          &-arrow {
                                  &-b { top: -60px; }
                                  &--prev { right: 55px; }
                          }
                          &-current { font-size: 24px; }
                          &-count { font-size: 24px; }
                }
      }
      .discount {
               &__slider {
                          &-title { font-size: 44px; }
                          &-text { margin: 30px 0 50px; font-size: 14px; }
                          .slick-dots { height: 40px; padding: 13px 0 0 15px;
                                      li { font-size: 14px; }
                          }
                          &-border {
                                    &-b { height: 340px; }
                          }
               }
      }
      .about {
              &-slider {
                      &__arrow {
                              &-text { font-size: 14px; }
                              &-icon { margin: 1px 0 0; }
                              &--prev { bottom: 80px; }
                      }
              }
      }
      .form {
            &__item { padding: 0 0 40px;
                &-title { font-size: 14px; }
                &-text { font-size: 20px; }
                &-link { font-size: 20px; }
            }
            &__title { font-size: 16px;
                  &-b { height: 38px; }
            }
      }
      .input { height: 48px; font-size: 16px;
            &-b { margin: 25px 0 0;
                  &:first-child { margin: 0; }
            }
            &--mail { background-position:  0 -4px; }
            &--phone { background-position: 0 -52px; }
            &--name { background-position: 0 -105px; }
      }
      .select { height: 46px; }
      .overlay {
            &--menu { padding: 40px 60px; }
      }
}

@media screen and (max-width: 1280px){
      .menu {
            &__item { margin: 0 0 0 40px;
                    &:first-child { margin: 0; }
            }
      }
}

@media screen and (max-width: 900px){
      .fixed-link {
              &:hover {
                .fixed-link-text { font-size: 0; margin-left: 0; }
              }
      }

      body { font-size: 16px; }
      .container { padding: 0 20px; }
      .title { font-size: 40px; margin-bottom: 30px;
              &--page { font-size: 48px; }
      }
      .no-desktop { display: block; }
      .no-tablet { display: none; }
      .contacts { padding: 40px 0;
            .title { margin-bottom: 30px; }
      }
      .block-link { font-size: 16px; padding: 0 50px; line-height: 48px;
              &.no-desktop { display: inline-block; }
      }
      .menu {
            &-b { display: none; }
            &-opened { overflow: hidden;
                      .logo {
                             &-b { position: absolute; left: 20px; top: 20px; }
                      }
                      .header { padding: 20px 20px 30px; position: fixed; right: 0; top: 0; left: 0; background: rgba(0,0,0,0.9); min-height: 100%; height: 100%; z-index: 10000;
                                -webkit-transition: all 0.4s;
                                -moz-transition: all 0.4s;
                                -ms-transition: all 0.4s;
                                -o-transition: all 0.4s;
                                transition: all 0.4s; }
                      .menu {
                             &-b { display: inline-block; margin: 60px auto 0; }
                             &__item { display: block; margin: 0 0 5px; padding: 5px 0;
                                      &:hover {
                                                .menu-sub { top: auto; }
                                      }
                             }
                             &__link { font-size: 22px; font-family: 'ProximaNovaBold', sans-serif; }
                             &-sub { position: relative; display: block; padding: 10px 0; opacity: 1; left: auto; top: auto; z-index: 0; min-width: 0; background: transparent;
                                    &__item { text-align: center; margin: 5px 0 0; }
                                    &__link { font-size: 20px; font-family: 'ProximaNovaLight', sans-serif; color: #ffffff; }
                             }
                      }
                      .burger { display: none;
                                &-close { display: block; }
                      }
            }
      }
      .header { padding: 20px 0;
               &__contacts { display: none; }
      }
      .bathhouse {
            &-top { height: auto; padding: 0 0 60px;
                  &__content { margin: 60px 0 0; }
            }
      }
      .restobar {
              &-top { height: 500px;
                  &__title { font-size: 36px; }
              }
              &-menu {
                    &__item {
                          &-b { display: block; margin: 0 0 40px; }
                    }
              }
      }
      .interior {
          &__slider { max-width: 600px; margin: 0 auto; padding: 0 0 50px;
                &-arrow { width: 18px; height: 12px;
                      &--prev { right: 43px; }
                }
                &-current { font-size: 18px; }
                &-count { font-size: 18px; }
          }
          &-left { padding: 0 8px 0 0;
                &-top { height: 250px; }
                &-bottom { height: 250px; margin: 16px 0 0; }
          }
          &-right { padding: 0 0 0 8px;
                &-top { height: 200px; }
                &-bottom { height: 300px; margin: 16px 0 0; }
          }
      }
      .discount {
              &__slider { max-width: 600px; margin: 0 auto; padding: 85px 0 0;
                    .slick-dots { border: none; height: auto; padding: 0; right: 0;
                            li { display: block; margin: 10px auto 0; text-align: center;
                                &:first-child { margin: 0; }
                            }
                    }
                    &-title { font-size: 38px; }
                    &-img { z-index: 1; position: relative; left: auto; right: auto; margin: 0 auto;
                          &--beer { width: 140px; top: auto; display: block; }
                          &--drink { width: 230px; }
                          &--burger { width: 280px; }
                    }
                    &-text { margin: 15px 0 30px;
                          &-b { position: initial; width: 100%; margin-bottom: 30px; }
                    }
                    &-item { position: relative;
                          .block-link { bottom: -25px; left: 50%; margin-left: -122px; position: absolute; z-index: 1; }
                    }
                    &-border {
                          &-b { width: 100%; float: none; height: auto; padding: 30px 0;
                              &:after { z-index: 0; left: 9%; right: 9%; bottom: -2px; width: auto; top: auto; height: 2px; }
                          }
                    }
                    &__title { font-size: 36px; }
              }
      }
      .reviews { margin-bottom: 40px;
                &-list {
                    &__item { height: auto; min-height: 430px; }
                }
      }
      .paintball {
            &-top { height: auto; padding: 0 0 100px;
                  &__title { font-size: 36px; text-align: left; margin-bottom: 20px; }
            }
            &-service {
                  &__title { font-size: 36px;
                        &-text { font-size: 16px; }
                  }
                  &__text { margin: 15px 0 10px;
                        &-b { margin-bottom: 0; position: initial; }
                  }
                  &__item { width: 100%; max-width: 600px; margin: 50px auto 0; padding: 0 0 70px;
                        &:first-child { margin: 0 auto; }
                        .block-link { position: absolute; left: 50%; bottom: 0; margin-left: -122px; }
                        &--right { text-align: left; }
                  }
                  &__bg { position: relative; width: 100%; }
            }
      }
      .about {
            &-slider { width: 100%; max-width: 640px; margin: 0 auto 100px; padding: 0 0 100px;
                  &__item { position:initial;
                      .block-link { position: absolute; bottom: -160px; left: 50%; margin-left: -122px; }
                      .paintball-service__text-b { position: initial; left: auto; bottom: auto; margin: 0 0 30px; }
                  }
                  &__img { width: 100%; left: 0; }
                  &__arrow { bottom: 40px;
                        &--prev { left: 0; right: auto;
                            .about-slider__arrow-icon { margin: 0 10px 0 0;
                              -webkit-transform: rotateY(180deg);
                              -moz-transform: rotateY(180deg);
                              -ms-transform: rotateY(180deg);
                              -o-transform: rotateY(180deg);
                              transform: rotateY(180deg); }
                        }
                        &-text {
                                &--prev { float: right; }
                        }
                  }
                  .slick-dots { bottom: 70px; }
            }
      }
      .page-content {
            &__title { padding-bottom: 15px; margin-bottom: 25px; font-size: 20px; }
            &__item { margin-bottom: 40px;
                  &--calc { padding: 30px 0; margin-bottom: 45px; }
            }
            &__reason { width: 100%; display: block; margin: 0 auto 30px;
                  &-b { margin: 0 auto; }
            }
            &__about {
                  &-text { max-width: 600px; margin: 0 auto; }
                  &-list { max-width: 600px; margin: 0 auto; }
            }
            &__day { width: 100%; max-width: 600px; margin: 40px auto 0; float: none;
                    &:first-child { margin: 0 auto; }
            }
            &__service { float: none; width: 100%; margin: 0 auto 40px; max-width: 600px;
                  &-img { max-width: 340px; margin: 0 auto 20px; display: block; }
                  &-title { margin-bottom: 10px; }
            }
            &__steam { width: 100%; float: none; max-width: 600px; margin: 0 auto 40px;
                  &-title { font-size: 36px; }
            }
      }
      .form {
            &__left { width: 100%; float: none; }
            &__right { width: 100%; float: none; text-align: center; }
      }
      .top-block { height: auto; padding: 0;
               &-bg { position: relative; width: auto; right: auto; bottom: auto; top: auto; height: 300px; margin: 30px -20px 0 0;
                    img { height: 100%; width: auto; display: block; float: right; top: auto; right: auto; bottom: auto; }
               }
               &__content { max-width: 600px; margin: 0 auto; }
               &__title { font-size: 36px; margin-bottom: 15px;
                    &-main { font-size: 46px; margin: 10px 0 0; }
               }
               &__text { margin-bottom: 30px; }
      }
      .services { padding: 40px 0 0;
            &__title { font-size: 46px; margin-bottom: 15px; }
            &__item { max-width: 600px; margin: 0 auto 30px; }
            &__text { padding: 0; margin-bottom: 0;
                  &-b { width: 100%; float: none; padding: 0; margin: 0 auto 30px; text-align: left; }
            }
            &__img {
                    &-b { width: 100%; float: none; margin: 0 auto 70px; }
            }
      }
      .select { min-width: 100%;
            &-b { float: none !important; margin: 0 0 30px; }
            &-list { max-width: 600px; margin: 0 auto; }
      }
      .services-type {
              &__slider { padding: 150px 0 0;
                        &-arrow { right: 10%; }
                        .slick-dots {
                              li { display: block; padding: 0 0 5px;
                                  &.slick-active { border: none; text-decoration: underline; padding: 0 0 8px; }
                              }
                        }
                        &-item {
                                &__img { width: 80%; left: 10%;
                                    &-b { width: 100%; float: none; }
                                }
                                &__text {
                                      &-b { float: none; width: 100%; padding: 30px 10% 0; }
                                }
                                &__title { font-size: 18px; margin: 0 0 20px; }
                        }
              }
      }
      .carwash {
                &-top { height: auto; padding: 0 0 40px;
                      &__bg { position: relative; margin: -70px 0 0 -20px; float: left; width: 60%;
                            &-title { font-size: 46px; }
                      }
                      &__tilte { font-size: 22px; }
                      &__content { float: right; margin: 30px 0 0; }
                }
      }
      .burger { display: block; float: right; cursor: pointer;
              &-close { display: none; float: right; cursor: pointer;
                      &-icon { display: block; width: 34px; height: 34px; cursor: pointer; }
              }
      }
}

@media screen and (max-width: 640px){
    .overlay { padding: 30px 20px 20px;
            &--menu { padding: 40px 20px 0; }
            &-b { padding: 30px 0; }
            &-close { width: 20px; height: 20px; right: 10px; top: 10px; }
    }
    .select { max-width: 100%; }
    .logo {
          &--resto { width: 65px; height: auto; }
    }
    .reviews {
          &-list {
              &__item { width: 100%; float: none; margin: 25px 0 0;
                  &:first-child { margin: 0; }
              }
          }
    }
    .input {  padding: 0 10px 0 50px; font-size: 14px;
          &--mail { background-position: -12px -4px; }
          &--phone { background-position: -12px -52px; }
          &--name { background-position: -12px -105px; }
          &-list { margin-bottom: 50px; }
          &-b { margin: 15px 0 0;
              &:first-child { margin: 0; }
          }
    }
    .textarea { color: @text; background: url("/img/input-bg.png") -12px -150px @input-bg no-repeat; padding: 15px 15px 15px 50px;
          &--white {  background: url("/img/input-bg-white.png") -12px -150px @input-gray-bg no-repeat;  }
    }
    .form {
          &__right {
            .form__title-b { display: none; }
          }
          &__title-b { height: 30px; }
    }
}

@media screen and (max-width: 480px){
      .title { font-size: 30px; margin-bottom: 25px;
            &--page { font-size: 34px; }
      }
      .top-block {
            &__title { font-size: 24px;
                &-main { font-size: 40px; }
            }
            &__text { font-size: 14px; }
      }
      .block-link { width: 100%; text-align: center; font-size: 14px; line-height: 42px; }
      .discount { margin-bottom: 60px;
              &__slider {
                  &-title { font-size: 22px; line-height: 1.2; }
                  &-border-b { padding: 20px 0; }
                  &-item {
                    .block-link { width: auto; left: 15%; right: 15%; margin: 0; padding: 0; }
                  }
              }
      }
      .about {
            &-slider {
                &__item {
                    .block-link { left: 0; margin-left: 0; }
                }
                &__arrow {
                      &-text { font-size: 0; }
                }
            }
      }
      .services { margin-bottom: 50px;
              &__title { font-size: 28px; margin-bottom: 10px; }
              &__text { font-size: 14px; }
              &__item { padding-top: 30px;
                      &:first-child { padding-top: 0; }
              }
              &-type {
                  &__slider { padding: 150px 0 20px;
                      &-item {
                          &__title { margin-bottom: 10px; }
                          &__img { width: 100%; left: 0; }
                          &__text { width: 100%;
                                  &-b { padding: 20px 0 0; }
                          }
                      }
                  }
              }
      }
      .paintball {
              &-top { padding: 0 0 50px; }
              &-service {
                    &__text { br { display: none; } }
                    &__item {
                          .block-link { left: 0; margin-left: 0; }
                    }
                    &__title { font-size: 28px; }
              }
      }
      .select { font-size: 14px; }
      .page-content {
              &__title { padding: 0 5px 22px; line-height: 1.2; font-size: 18px; }
              &__item { margin-bottom: 50px;
                  &-info { margin-top: 30px; }
              }
              &__day { height: auto;
                    &-img { width: 55%; }
                    &-text {
                          &-b { left: 40%; top: 25px; }
                    }
                    &-title { font-size: 22px; }
                    &-list { padding: 20px 0 0 30%;
                        &__item { font-size: 15px; }
                    }
              }
              &__service {
                    &-b { margin-top: 20px; }
              }
              &__steam {
                    &-b { margin-top: 25px; }
                    &-title { font-size: 28px; }
              }
              &__about {
                  &-text { font-size: 18px; }
                  &-list {
                        &-item { font-size: 18px; }
                  }
              }
      }
      .carwash {
            &-top {
                &__bg { width: 100%;
                    &-title { font-size: 30px; }
                }
                &__content { float: none; text-align: right; width: 100%; }
            }
      }
      .interior {
            .title { margin-bottom: 42px; }
            &-left {
                &-top { height: 150px; }
                &-bottom { height: 150px; }
            }
            &-right {
              &-top { height: 110px; }
              &-bottom { height: 190px; }
            }
            &__slider {
                  &-arrow {
                      &-b { top: -33px; }
                  }
            }
      }
      .footer { height: auto; padding: 30px 0; text-align: center;
              &__contacts { display: block; float: none; margin-bottom: 30px; text-align: center; }
      }
      .authors {
          &-b { float: none; display: inline-block; }
      }
      .input { background-image: none; padding: 0 10px;
              &-list { margin-bottom: 35px; }
      }
      .textarea { padding: 10px; background-image: none; }
      .form {
            &__item { padding: 0 0 25px;
                &-title { margin-bottom: 5px; }
            }
      }
      .contacts {
        .title { margin-bottom: 20px; }
      }
}

@media screen and (max-width: 320px){
      .paintball {
            &-top {
                &__title { font-size: 28px; }
            }
            &-service {
                &__title { font-size: 21px;
                    &-text { font-size: 14px; }
                }
            }
      }
      .page-content {
            &__item { margin-bottom: 30px; }
            &__about {
                  &-text { font-size: 16px; }
                  &-list {
                      &-item { font-size: 16px; }
                  }
            }
            &__steam {
                  &-title { font-size: 20px; }
            }
      }
      .interior {
            &-left {
                &-top { height: 150px; }
                &-bottom { height: 150px; }
            }
            &-right {
                &-top { height: 100px; }
                &-bottom { height: 200px; }
            }
      }
      .input { background-image: none; padding: 0 10px; }
      .textarea { padding: 10px; background-image: none; }
}
